body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/360_F_441962415_GBNj3h2juCQ12XFIuSFgdEbv2NudSXmj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.box {
    flex: 10;
    max-width: 200px;
}

.dabba {
    height: 90px;
    width: 90px;
    border: 2px solid rgb(0, 142, 142);
    background-color: rgb(4, 65, 65);
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
    border-radius: 10px;
    margin: 0 auto;
}

h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 2px 4px rgb(118, 118, 118);
}

p {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
}

/* #bottum{
    display: flex;

} */

.head {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 8px -4px grey;
}

@media screen and (max-width : 754px) {
    .head {
        width: 80% !important;
        height: auto !important;
        margin: auto;
        text-align: center;
        font-size: 200%;
    }

    .dabba {
        width: 60px;
        height: 60px;
    }

    .dabba p {
        font-size: 30px;
    }
}




@media screen and (max-width : 447px) {
    .head {
        width: 80% !important;
        height: auto !important;
        margin: auto;
        text-align: center;
        font-size: 180%;
    }

    .dabba {
        width: 50px;
        height: 50px;
    }

    .dabba p {
        font-size: 20px;
    }

    h2 {
        font-size: 1rem !important;
    }
}


@media screen and (max-width : 334px) {
    .head {
        width: 80% !important;
        height: auto !important;
        margin: auto;
        text-align: center;
        font-size: 130%;
    }
}